[2017-03-09 12:35] whatisthejava opened #2 "Example of a OrchestrationStep Type ReviewScreen"
Hi, can you please include a working example of a User Journey which uses an orchestrationStep with Type = "ReviewScreen"

I keep getting a 500 error when trying to submit it so im not sure what I am doing wrong

Thanks

[2017-03-22 23:23] rojasja commented on #2
Hello.
I am from the product team. As you may know we have these features under private preview and we are eager to get your feedback which helps us get this service ready for broader availability.

I assume you are getting the generic "500 internal server error."
Can I also assume that you already have other custom (uploaded) policies working correctly? and the problem seems to be restricted to t

[2017-03-24 15:22] whatisthejava commented on #2
Hi rojasja,

I get the 500 error when trying to submit with the review screen.  I think it is because my datauri in content definition is type selfasserted which fails if you dont submit any claims, but with review screen I dont get to wrap it in a technical profile so I cant supply claims.

is there a specific datauri type for review screens.

Yes i have tried the user journey recorder which poin

[2017-03-26 21:21] WhippsP opened #3 "ExploreAdmin List Policy does not work"
(Transferring from BEEJONES Repository)

Error being returned is
<Error><ExceptionMessage>User Authorization: TenantId parameter is missing in request</ExceptionMessage><CorrelationId>b5da28e2-df78-49a1-a9fc-1a83578a4fd3</CorrelationId></Error>

It also uses the api/tenantPolicyList endoint rather than /api/policyList

/api/policylist?tenantId=myb2ctenanr.onmicrosoft.com works fine

[2017-04-13 14:34] onionhammer opened #5 "Identities created from external source allow duplicate email addresses"
Re: https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/blob/51798b065ef524be87c0f41339708ab4159bd54a/B2CPolicies/Final/b2ccharm.onmicrosoft.com_B2C_1A_base.xml

I'm not sure what mechanism B2C is using to validate that the user registering is not already registered, but this policy does not seem to persist the "signInNames" value for the record, this means someone who register

[2017-04-13 15:22] gsacavdm commented on #5
@omer-iqbal can you help with this?

[2017-04-13 15:42] omer-iqbal commented on #5
The signInNames property is reserved for local accounts. Any email addresses stored in this property can be used with a password to sign the user in, without having to go to the social IDP. Therefore, the email addresses of social IDP users are stored in another property (otherMails) that is currently exposed through AD Graph.

Depending on a user's setting, an app's permissions or the IDP, a user

[2017-04-13 15:42] #5 closed

[2017-04-13 23:04] onionhammer commented on #5
Thanks for the reply @omer-iqbal

Are there any examples/snippets on how we might accomplish this? We're not currently using any social logins, we're only using local accounts and an external (oracle) identity provider for employees.

[2017-05-10 18:36] BlueCloudDev opened #7 "Documentation part 1 diagram difficult to read"
Could the diagram in part 1 of the documentation be replaced with a clearer image? Most of the text, especially in the orange blocks is difficult to read.

This piece: https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/blob/master/Documentation/media/01_06.png

If you open it in a completely new tab it's readable, but the issue is that the text is white with a black shadow tha

[2017-05-22 05:27] #3 closed

[2017-06-13 15:48] monteledwards opened #8 "Multi-Teant Azure AD auth in b2c with custom policies."
I am trying to use Azure AD auth in b2c using the /common Azure AD enpoint. According to https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-devhowto-multi-tenant-overview#update-your-code-to-handle-multiple-issuer-values, there needs to be a mechanism to either 1.) Allow multiple issuers, or 2.) Specify a list of issuers b2c can validate against. I do not see any poss

[2017-06-13 21:34] parakhj commented on #8
@rojasja for awareness

We do not support multi-tenant apps or the /common endpoint. I would recommend requesting the feature [here](https://feedback.azure.com/forums/169401-azure-active-directory/category/160596-b2c) to help us prioritize it.

[2017-06-14 18:31] onionhammer opened #9 ""Object reference not set to an instance of an object." when login triggered on existing session"
If the user attempts to invoke the login after they already have an active session cookie in B2C using `AAD-UserReadUsingAlternativeSecurityId`, an object reference error occurs.

If a pre-requisite is missing, it should display a more helpful error

Still investigating...

[2017-08-17 16:06] rojasja commented on #7
Hi!,
I must have missed your message much earliere.  I've uploaded a better version in PDF of this file named signup protocol attribute flow docs

[2017-08-17 20:15] #7 closed

[2017-09-22 13:21] tomidix commented on #8
According to this: active-directory-b2c-advanced-policies/Walkthroughs/IdP-AzureAD.md
it is supported. However when I set it up, i get an error: `AADSTS50011: Reply address '' specified by the request is not a valid URL. Allowed schemes: '*'` although the reply URLs have been configured and set to:
_https://login.microsoftonline.com/(B2Ctenant).onmicrosoft.com_ and _https://login.microsoftonline.c

[2017-09-22 13:49] monteledwards commented on #8
@tomidix we have been using multi-tenant auth for a while now and it does work. Perhaps share the configuration of your technical profile

[2017-09-22 14:02] tomidix commented on #8
@monteledwards here is the whole ClaimsProvider, App to which TechnicalProfile is referenced is created on portal.azure.com -> AD B2C -> Applications (not on identity.microsoft.com nor apps.dev.microsoft.com; I tried applications from there too but they didn't work either).
The process of login starts normally, user logins ok, on a first run user consent is invoked, and after that there is an erro

[2017-09-22 14:10] monteledwards commented on #8
The application that is to be configured in your technical profile needs to be registered as a regular AAD application. I recommend you start over using the guide here
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-aad-custom

Verify that you can sign in to your own tenant, and then switch the configuration over to multi-tenant by enabling the app to be mult

[2017-09-22 15:57] tomidix commented on #8
I did that before and got an error: _AADSTS70001: Application 'AppId' is not supported for this API version._
I didn't try at all to use MultiTenant v1 for TP config because we have to use MSAL, so only v2 plays a role for us. **Do you use MultiTenat v1 or v2?**
Now I tried to create new, converged (v2) app in the regular Azure AD of my regular tenant (not b2c tenant) but it finished with the same

[2017-09-25 09:40] pratik28 commented on #9
Hello,
Did you find a solution to this problem ?
I suppose it could be a problem with Windows - https://support.microsoft.com/en-ca/help/2379592/-object-reference-not-set-to-an-instance-of-an-object-error-message-wh

Thanks

[2017-09-25 13:32] onionhammer commented on #9
@pratik28 Yes, MS support had me add in the following line to one of my TechnicalProfiles.

[code]

[2017-10-08 20:04] gsacavdm commented on #8
This error:

Is a bug on the AAD side that hides the real error which is that **your reply URLs don't match**.
I would double check that the reply URL on the AAD side (the v1 multi-tenant app, not the B2C app).

Also, double check that you are setting:

[code]

[2017-10-11 07:34] tomidix commented on #8
Thanks for the answer. I've managed to make it work. Yes, you are right. It needs to have UsePolicyInRedirectUri set to false. I didn't change my reply urls so I think that the mentioned error is shown where the reply url has nothing in common with the error and not the cause of it.

[2017-10-13 06:40] #8 closed

[2017-10-23 20:19] spottedmahn opened #13 "Incorrect UI on WingTip Game Demo Link"
When I visit the [WingTip game demo page](https://wingtipgamesb2c.azurewebsites.net/Demo), the header overlays with the demo's making them hard to read:

![image](https://user-images.githubusercontent.com/14079228/31911244-018d1868-b80e-11e7-9497-030180ce2e52.png)

[2017-10-28 07:12] nileshanchan commented on #8
I am using custom policy which is integrated with B2B and B2C as per link https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-aad-custom. I am able to get the username and email from B2B users after adding

in relying party but not able to get the all the user details for B2C users.

[2017-10-28 13:04] monteledwards commented on #8
Azure AD id_tokens will not return the email address. To do so, you need to
query the graph API. I wrote a guide to this here.
http://email.monteledwards.com/c/eJxFUE1vgzAM_TVwS-UESMiBQ4fWw7qpUvcl7eYkDkSiwFK6qv31S7vDLOtZfs96lu0aQqyUykPTrp-_w_vntWvjuR1Hha_ALqWVL-x4br92H3572r_vFlZd3kR8fPrZ7tdZCQcMw6q7o50Oed8Yh-B0CZI7U0gBmspa8kIIqwpjsMqHpl-W-ZgV60xsUh6mcaGB3BmjO95MEieAq1Q43KBOgCwJ80ALsZDGu4hLmEaG11Mk

[2017-10-30 18:22] webster354 opened #14 ""Wrong Link" error in "Claim your free game rental email""
In the demo when I click on the link in the "Claim you free game rental email" I get the error:

"Wrong Link

You have clicked on an invalid link. Please make sure that you have typed the link correctly. If are copying this link from a mail reader please ensure that you have copied all the lines in the link."

If I copy and paste the URL in the email into my web browser it works successfully.

Rep

[2017-10-30 18:40] parakhj commented on #14
I can't repro, but still looking into it. Thanks for reporting.

[2017-10-30 23:56] chrispadgettlivecom commented on #14
Hi @webster354

Are you experiencing this with the Outlook desktop client?

SendGrid is replacing the policy link (to login.microsoftonline.com) with a click tracking link (to ct.sendgrid.net) that is longer than the maximum number of characters supported for links by the Outlook desktop client.

It isn't occurring with the Outlook browser client.

We'll determine whether we can disable click trac

[2017-10-31 00:05] webster354 commented on #14
I get the error in both Outlook desktop client and Outlook web mail (in Internet Explorer).

I just tried using Outlook web mail in Chrome and it works. IE issue?

[2017-10-31 06:39] chrispadgettlivecom commented on #14
Confirmed.

It is an issue in the desktop client and Internet Explorer 11 (and below).

It is working in Chrome, Edge, and Firefox.

[2018-02-23 09:16] apedzko opened #19 "Azure AD B2C: Azure AD IdP does not work with custom domain"
Hi!

I'm using custom policy to add Azure AD as an identity provider for my Azure Ad B2C instance.

To make it work i had to add the following redirect uri for my app registration (otherwise i saw an error when redirecting to b2c from azure ad):

- https://login.microsoftonline.com/te/coredwexposureb2c.onmicrosoft.com/oauth2/authresp

It works fine on my localhost, with the following redirect uris

[2018-02-24 15:36] gsacavdm commented on #19
I'm unclear why the Azure AD app needs to redirect back to your application as well (both the localhost and the coredwexposure). In theory, your application should only talk to B2C and only B2C should talk to that non-B2C Azure AD app, so you should only need the login.microsoftonline.com... URL.

[2018-02-26 07:11] apedzko commented on #19
Hi! Thanks for your response.

I tried to remove http://localhost:55838/signin-oidc from the list of reply uris in b2c and my application stopped working - it is giving 404 when trying to redirect from b2c to my app. When i am adding it back it works fine.

1. My application is registered in B2C.
2. Azure AD is registered as an IdP.
3. When i log into my app, i'm redirected to B2C page, then to Az

[2018-02-26 07:16] gsacavdm commented on #19
You need two separate app registrations:
* One in Azure AD B2C for your app  - this one has your apps' redirect URLs:
  * `http://localhost:55838/signin-oidc`
  * `https://coredwexposure.onmicrosoft.com/signin-oidc`
* One in Azure AD for Azure AD B2C - this one has B2C as the redirect URL:
  * `https://login.microsoftonline.com/te/coredwexposureb2c.onmicrosoft.com/oauth2/authresp`

[This article](

[2018-02-26 07:26] apedzko commented on #19
I believe my scenario is a bit different.
I'm trying to link the common tenant to support the multi-tenant scenario. Thus i cannot use any app registrations inside Azure AD, since i do not know the directories in advance and can support login from any of them.

Here is my policy provider for AzureAD:

<ClaimsProvider>
      <Domain>MultiTenant</Domain>
      <DisplayName>Login using Azure AD</Disp

[2018-02-26 08:19] gsacavdm commented on #19
The guidance still stands though, create both apps in your tenant and make the Azure AD one a **"multi-tenant" app**. ([See these instructions](https://docs.microsoft.com/azure/active-directory/develop/active-directory-integrating-applications#configuring-multi-tenant-applications) to configure it as such).
* One in Azure AD B2C for your app - this one has your apps' redirect URLs:
   * http://loc

[2018-02-26 08:27] apedzko commented on #19
Having 2 applications: one in Azure ADB2C and one in Azure Ad will give me 2 application ids.
How do i link them together? I will use the id from B2C  in my application's config file.
Where should i put the id from Azure AD?

[2018-02-26 09:22] chrispadgettlivecom commented on #19
The application ID that is registered with the Azure AD tenant, i.e. the identifier of the application that represents the Azure AD B2C tenant, must be set in the "client_id" metadata item of the "MultiTenantProfile" technical profile:

    <Item Key="client_id"></Item>

This application ID is how the Azure AD B2C tenant identifies itself with the Azure AD tenant.

[2018-02-26 09:41] apedzko commented on #19
Should it also be set to IdTokenAudience?

Will i need to change the client secret to be the secret of AzureAD application?
<Key Id="client_secret" StorageReferenceId="B2C_1A_MultiTenantSignInKey"/>

[2018-02-26 09:54] chrispadgettlivecom commented on #19
Yes to both.

[2018-02-27 07:45] apedzko commented on #19
Thanks for your assistance.

Once i introduced AzureAd app registration i managed to overcome the domain name restriction.
However it showed me the following error then:

AADSTS90130: Application '529438c4-ae3d-4101-a1ae-9812e3bab261' (CoreDWExposure ODATA API) is not supported over the /common or /consumers endpoints. Please use the /organizations or tenant-specific endpoint.

I had to change the

[2018-02-27 08:48] chrispadgettlivecom commented on #19
"Application '529438c4-ae3d-4101-a1ae-9812e3bab261' (CoreDWExposure ODATA API)" indicates you have entered the client ID for the "CoreDWExposure ODATA API" app, not that for Azure AD B2C, that is registered with the Azure AD tenant.

The "/common" endpoint is supported.

[2018-02-27 10:01] apedzko commented on #19
Ok. I'm a bit lost then.

Could you please advise which application identifier (Azure AD/B2C) and secret for which application (Azure AD/B2C) need to go into these fields:

<Item Key="client_id"></Item>
<Item Key="IdTokenAudience"></Item>
...
 <Key Id="client_secret" StorageReferenceId=/>

[2018-02-27 10:10] chrispadgettlivecom commented on #19
As per @gsacavdm's [earlier comment](https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/issues/19#issuecomment-368422515), you must create an app registration in Azure AD for use by Azure AD B2C, as described by https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-aad-custom#create-an-azure-ad-app.

The reply URL for this app registration is `

[2018-02-27 10:30] apedzko commented on #19
Could we use my specific case as an example here:

1. My B2C App registration:
CoreDW Exposure API
a4802af6-d0a1-4551-810e-2dee5d2edcbd

2. My Azure AD App registration:
CoreDWExposure ODATA API
529438c4-ae3d-4101-a1ae-9812e3bab261
The key for this application is stored in B2C_1A_MultiTenantSigningKey2 key of B2C.

My ClaimsProvider element from custom policy:

[code]

Could you please advise whic

[2018-02-27 15:45] monteledwards commented on #19
[code]

If you want to use the common endpoint, here is the snippet that you need to modify to get working.
I highly recommend that you read the article https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-aad-custom from top to bottom and get Azure AD single tenant authentication working, then use the above snippit to enable multi-tenant authentication. Note that

[2018-02-27 19:11] apedzko commented on #19
Guys,

I really appreciate your help, but let's stick to my particular example. Jumping back and forth does not bring more understanding.

I have done exactly as you said: i have configured the single tenant scenario according to https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-aad-custom.

 In your latest example you are using some applucation id df5b2515-a8d

[2018-02-27 19:47] gsacavdm commented on #19
Understand that people are trying to help, no need to discourage others from offering help, tips or insights, even if they are not doing the work for you.

My B2C app registration is used in your app's code.
My Azure AD app registration is used in your `MultiTenantProfile`, including the CryptographicKeys.

[2018-02-28 08:10] apedzko commented on #19
Thanks for the update. I did not mean to be rude or offensive.

I did use the identifier from Azure AD app registration in the MultiTenantProfile, but got the following error with the common tenant:

AADSTS90130: Application '529438c4-ae3d-4101-a1ae-9812e3bab261' (CoreDWExposure ODATA API) is not supported over the /common or /consumers endpoints. Please use the /organizations or tenant-specific e

[2018-02-28 21:07] gsacavdm commented on #19
You need to [configure your application as a multi-tenant application](https://docs.microsoft.com/azure/active-directory/develop/active-directory-devhowto-multi-tenant-overview#update-registration-to-be-multi-tenant)

[2018-03-16 18:14] spottedmahn opened #20 "Move User Joureny Recorder/Viewer to Own Project"
According to [Azure Active Directory B2C: Collecting Logs](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-troubleshoot-custom):

Reading the logs in app insights is really really hard to me.  If this is tool then I think this source should be moved out of this sample and put on its own.

Thoughts?

[2018-03-16 18:24] spottedmahn commented on #20
Looks like the reader is here: [active-directory-b2c-advanced-policies/tree/master/wingtipgamesb2c/src/WingTipUserJourneyPlayerWebApplication](https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/tree/master/wingtipgamesb2c/src/WingTipUserJourneyPlayerWebApplication)

[2018-03-17 15:10] kamranbashir opened #21 "PS> Import-Module .\ExploreAdmin.dll getting error"
Adding the cryptographic key for the “generic” IdP as claims provider
To add the cryptographic key needed by the “generic” IdP as claims provider, proceed with the following steps:

Open a Windows PowerShell command prompt. Change to the directory to the ExploreAdmin folder in the Starter-Pack folder.
The Starter-Pack folder corresponds to the path C:\Code\AAD-B2C\B2CDemoTools-master in our config

[2018-03-17 20:49] rojasja commented on #21
Hello.

All key generation is now possible directly in the Azure Portal.
Inside your b2c tenant.
Select Identity Experience Framework (an Azure Subscription is required)
Select Key Management.

[2018-03-17 20:50] rojasja commented on #21
ExploreAdmin.dll is deprecated.

[2018-03-17 21:15] kamranbashir commented on #21
yes, i got it working before your reply many thanks for your reply

[2018-03-17 21:19] kamranbashir commented on #21
in Azure b2c custom policy file TrustFrameworkExtensions.xml which section i can pass a query string variable
for example identity server 4 http://docs.identityserver.io/en/release/endpoints/token.html?highlight=acr_values

i want to pass  **acr_values**
allows passing in additional authentication related information for the password grant type - identityserver special cases the following propriet

[2018-03-18 00:31] chrispadgettlivecom commented on #21
Hi @kamranbashir

Do you want to set `acr_values` for the authorization endpoint or the token endpoint?

It can be set for the authorization endpoint by appending to the `authorization_endpoint` item of the IdentityServer technical profile as follows:

    <Metadata>
        <Item Key="authorization_endpoint">https://identityserver/connect/authorize?acr_values=idp%3Aname_of_idp</Item>
    </Metada

[2018-03-18 14:45] kamranbashir commented on #21
Good news it worked. 👍 . many thanks for the help.

Now i need to know how configure rest!!

2018-03-18T12:58:53  PID[18564] Information 2018-03-18 12:58:53.153 +00:00 [Information] identity provider requested, redirecting to: "microsoft"
2018-03-18T12:58:53  PID[18564] Information 2018-03-18 12:58:53.169 +00:00 [Information] External login requested for provider: "microsoft"
2018-03-18T12:58:53

[2018-03-18 21:27] chrispadgettlivecom commented on #21
Excellent, @kamranbashir, can you please post [the above question](https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/issues/21#issuecomment-373953402) with the [`azure-ad-b2c`](https://stackoverflow.com/questions/tagged/azure-ad-b2c) tag to Stack Overflow so it can be answered and then discovered by others?

[2018-03-18 21:34] kamranbashir commented on #21
2018-03-18T21:14:45  PID[18300] Information 2018-03-18 21:14:45.699 +00:00 [Information] Start key discovery request
2018-03-18T21:14:46  PID[18300] Information 2018-03-18 21:14:46.121 +00:00 [Information] Start authorize request
2018-03-18T21:14:46  PID[18300] Information 2018-03-18 21:14:46.137 +00:00 [Information] Start authorize request protocol validation
2018-03-18T21:14:46  PID[18300] Error

[2018-03-23 18:57] ltouro opened #22 "Embedded Translations"
Does the final policies support language customizations (enable/disable languagues, set the default language)? And what about customized resources for each language?

These are features from the simpler Azure B2C UI Customization that I would need in order to switch to advanced policies.

Thanks for these resources. Very usefull.

[2018-03-25 21:12] chrispadgettlivecom commented on #22
Hi @ltouro

You can find information about language customization for custom policies at ["Language customization in custom policies"](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-language-customization-custom).

[The base file](https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/blob/master/wingtipgamesb2c/Policies/b2ctechready.onmicrosoft.c

[2018-03-26 20:41] ltouro commented on #22
Thanks @chrispadgettlivecom , it worked.

[2018-03-26 20:41] #22 closed

[2018-03-26 20:45] ltouro opened #23 "Keep me signed in (KMSI) experience"
I was able to enable KMSI experience by using the UserJourneyBehaviors XML node. The Sign-in Or Sign-Up policy already shows the button "Keep me signed in?".

Notwithstanding, by acessing the URL for Login again (i.e. Run Now), the user is still redirect to the login page. Should'nt the user be redirect to the final page after checking KMSI option the first time?

Otherwise, how can I test the KMS

[2018-03-29 00:17] chrispadgettlivecom commented on #23
Hi @ltouro

The "Run Now" link includes the `prompt=login` parameter which forces-reauthentication. You can remove this from the generated link to test the KMSI experience.

[2018-03-29 00:26] ltouro commented on #23
@chrispadgettlivecom Thanks once more!

[2018-03-29 00:26] #23 closed

[2018-03-29 00:43] chrispadgettlivecom commented on #21
Hi @kamranbashir

Can you please create a new issue for this or, better, create a Stack Overflow post for it?

[2018-04-02 19:25] ltouro opened #24 "E-mail Output Claim with Local Account Username Signin"
I'm trying to ouput the E-mail claim when the user login with his Username but can't make it work.

I don't know which claim I should use. Tried these below separatelly with no success.

Any tips?
Thanks!!
[code]

part of TrustFrameworkBase.xml

[code]
part of SignUpOrSignin.xml
[code]

[2018-04-02 19:40] ltouro commented on #24
Also noted that is not possible to retrieve the E-mail address used during the SignUp through the A.D. Graph API. Is there any workaround for this?

The value is showed on the AD B2C dashboard of Azure Portal (Authentication Info form fieldset).

[2018-04-16 15:44] spottedmahn opened #25 "Spin Off WingTip Demo"
IMO, the [WingTip Games demo](https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/tree/master/wingtipgamesb2c) is worthy of its own Project.

i.e. Azure-Samples/active-directory-b2c-wingtip-demo

[2018-04-16 15:45] spottedmahn commented on #25
One reason for this is: I wanted to go review this sample again and I think to, where is that demo again?  Oh yeah, it's buried under [active-directory-b2c-advanced-policies](https://github.com/Azure-Samples/active-directory-b2c-advanced-policies).

@chrispadgettlivecom

[2018-04-18 16:27] spottedmahn commented on #13
@chrispadgettlivecom

[2018-04-19 05:48] chrispadgettlivecom commented on #24
Hi @ltouro

The `SelfAsserted-LocalAccountSignin-Username` technical profile can't output the `email` claim because the `login-NonInteractive` validation technical profile doesn't issue it.

Alternatively, you can add the `email` claim as an output claim from the `AAD-UserReadUsingObjectId` technical profile, so that it is read when the user object for the signed-in user is read.

[2018-04-19 13:31] ltouro commented on #24
@chrispadgettlivecom thanks for the feedback chris! Will try it

[2018-04-19 18:45] ltouro commented on #24
@chrispadgettlivecom I was able to ouput the email using InputClaimsTransformations as you described at this [SO post](https://stackoverflow.com/questions/47145452/return-emails-on-custom-policies).

By saving the E-mail on the otherEmails persisted claim, I'm able to retrieve it using the A.D. Graph API, which is very useful for my need.

Thank you very much for the multiple helps! 👍

[2018-04-19 18:45] #24 closed

[2018-04-24 17:13] ltouro opened #26 "Password Reset flow for Username Local Accounts"
As Chris answered [here](https://stackoverflow.com/questions/47775101/b2c-ief-password-reset-with-username), one way to ensure the password reset flow is being performed by the account owner is having a REST API which connects to MS Graph API and check the pair Username-Email.

I wonder if this can't be achieve with the advanced policies only. Any tips?

[2018-05-16 01:36] spottedmahn commented on #25
Any thoughts 💭?

[2018-05-16 18:10] parakhj commented on #25
@spottedmahn or @chrispadgettlivecom I've given you permissions to update this repo:

https://github.com/Azure-Samples/active-directory-b2c-wingtip-toys-demo/invitations

Mind copying the sample over? (don't remove it from this repo yet)

[2018-05-16 18:14] spottedmahn commented on #25
💲

Sure thing

[2018-05-16 18:31] parakhj commented on #25
Thanks so much!! Merged

[2018-05-16 18:35] spottedmahn commented on #25
- [ ] Delete from existing repo
- [ ] Remove references to it from this repo (readme.md is one place, are there more?)

[2018-05-16 23:38] tmkathir opened #27 "Invalid object name 'AspNetUsers'"
I've tried to run deploy and run "WingTipToysWebApplication". I am getting the error "Invalid object name 'AspNetUsers'". I've created an empty database and configured it in the connection string. I believe code first create the schema but its throwing the above error.
Please let me know how to resolve it.

[2018-05-18 12:41] spottedmahn commented on #13
migrated to the new repo... closing....

[2018-05-18 12:41] #13 closed

[2018-07-04 03:42] vetrivelmp commented on #19
Hi,
We also had this problem but finally we were able to call custom idp from B2C.
We used IdentityServer4 as custom IDP.
**Step 1:**
Create a Client inside Custom IDP . Say Client ID=>B2C_Client
Add OpenId Scope
Add reply url => https://login.microsoftonline.com/te/coredwexposureb2c.onmicrosoft.com/oauth2/authresp
Publish to APP service (example =>www.customidp.azure.net)
Step2:
Have to create Id

[2018-07-10 18:42] ChaseFlorell opened #28 "UserInputType should include "Email""
When we create a ClaimType for an email address, we should be able to define the UserInputType as Email so that we can have the correct keyboard on screen when using a mobile device.

**Proposal**
[code]

Use Like This
[code]

Generates an email input field.
[code]

Allowing the browser to display the correct keyboard on mobile devices.

[2018-07-10 18:43] #28 closed

[2018-07-10 18:43] ChaseFlorell commented on #28
put this on the wrong repo

[2018-07-18 04:40] vetrivelmp commented on #19
@sewalsh I dont have repository.Ii have given detailed steps in my previous comment. Just follow the comments and let me know.

[2018-07-24 13:22] mmaedler opened #29 "Trying to make custom policy work with username instead of login"
Hi there,

I am desperately trying to setup a custom policy that uses the users username for login and also provides a registration. To achieve this I took the example [here](https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/blob/master/LocalAccounts/TrustFrameworkBase.xml) and replaced every occurance of email with username or signInName. However, no matter what comb

[2018-07-25 08:53] mmaedler commented on #29
Hi @chrispadgettlivecom!
Thanks for your quick reply and sorry for my confusing issue title which I have corrected now.
Your saying I'd use strongAuthenticationEmailAddress — does that mean the user still needs to give a unique email address as this can be used to login? The problem is, that for our systems the email cannot be unique since it can be used for multiple accounts (hence the login with

[2018-07-25 09:09] mmaedler commented on #29
And its me again. I have implemented the change you've suggested, but the error remains the same:
[code]
It seems like Azure is not able to handle the `signInNames.userName` while saving the user into the directory. What is the field identifier for AD that stores the username?

[2018-07-26 19:43] rakragh opened #30 "Support focus on the first attribute (HTML input element) - urn:com:microsoft:aad:b2c:elements:selfasserted:1.1.0"
Content definitions (TrustFrameworkPolicy element "ContentDefinition") with DataUri="urn:com:microsoft:aad:b2c:elements:selfasserted:1.1.0" do not set the focus on the first attribute (HTML input element for claim).

_Only the content definiton with DataUri="urn:com:microsoft:aad:b2c:elements:unifiedssp:1.0.0" contains a useful focus setting._

**Because own JavaScript is filtered out, this should

[2018-07-27 05:31] chrispadgettlivecom commented on #29
Hi @mmaedler

`signInNames.userName` is the correct claim.

Note that you can't persist an email address to the `signInNames.userName` claim.

Can you please paste your latest changes includes examples of the claim values that you are persisting to the Azure AD B2C directory?

If you persist the email address to the `strongAuthenticationEmailAddress` property, then the email address doesn't have t

[2018-07-27 08:22] mmaedler commented on #29
Hi @chrispadgettlivecom,

thanks again for your reply. Here you'll find the updated `TrustFrameworkBase.xml`:
--> https://gist.github.com/mmaedler/c0d25989a400dbe884c4253d4ccc0b06

Maybe also a bit of a background of what I actually try to achieve: We want to add SSO to some of our apps and therefore need to migrate our user base into Azure AD B2C. For legacy reasons the users login could either b

[2018-07-29 04:29] chrispadgettlivecom commented on #29
Hi @mmaedler

If you attempt to create a local account with a "userName" sign-in type that is set to an email address sign-in value, then the following error is returned by the Azure AD Graph API:

    {
        "odata.error": {
            "code": "Request_BadRequest",
            "message": {
                "lang": "en",
                "value": "One or more properties contains invalid values."

[2018-07-30 06:38] mmaedler commented on #29
Ok — just to be 100% clear on this: you are saying AD cannot persist an email address to the username field? If so, why can I create an user with exactly that via the API?

Also the error you posted is not the one that I receive:
[code]

Any further ideas? Thanks a mil.

[2018-08-13 16:05] zippy1981 opened #32 "Host TrustFrameworkPolicy_0.3.0.0.xsd at a public url"
I shouldn't have to manually download set Visual Studio to use TrustFrameworkPolicy_0.3.0.0.xsd as a schema. It should be hosted at a public url so I can do `xsi:schemaLocation="http://schemas.microsoft.com/online/cpim/schemas/2013/06 http://whterver.xsd"`. If it is published somewhere, the example XMS should reference that.

[2018-08-17 12:56] danistrebel opened #33 "Unable to stream to B2C user journey recorder at https://b2crecorder.azurewebsites.net"
When following the tutorial at https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/blob/master/Documentation/Features%20part%205.md#using-the-user-journey-recorderplayer
I am not able to retrieve any logs regarding my GUID.

I tried to debug and made a POST request against https://b2crecorder.azurewebsites.net/stream?id=XXX and got the error message:

[code]

[2018-08-17 13:30] monteledwards commented on #33
Daniel,
Although your issue is valid, I recommend you deploy your own version of the B2C recorder by deploying that VS solution to an Azure Web App. This is fairly straightforward and will get you unblocked.

[2018-08-21 14:30] LearnToCodeKM opened #34 "Unable to conditionally execute conditional OrchestrationStep"
I am trying to introduce new Orchestration Step based on the value of my custom attribute. My requirement is I want to execute the a orchestration step only if the value of myattribute(boolean attribute) is set to true. The value of myattribute is either set to true or false. I am doing something like this.
`        <OrchestrationStep Order="3" Type="ClaimsExchange">
          <ClaimsExchanges>

[2018-08-21 15:42] monteledwards commented on #34
This should execute the last orchestration step if myattributee is 'True'
I am unable to test this, i'd experiment with the case for 'true' in the precondition.
[code]

[2018-08-21 16:26] LearnToCodeKM commented on #34
I tried it does not work. The behavior remains the same irrespective of the value of my custom attribute.
 Below image depicts the value of my custom attribute. I have another user with my custom  attribute being set to false.
![image](https://user-images.githubusercontent.com/41274049/44414967-1a70fa80-a53d-11e8-8bc1-38dba3c2cf92.png)

[2018-08-21 16:45] monteledwards commented on #34
I just tested this in a B2C tenant and it successfully ran with the above snippet.  I'd share your AAD-UserReadUsingObjectId profile with the change you made to retrieve this attribute.

[2018-08-21 16:54] LearnToCodeKM commented on #34
Here is my AAD-UserReadUsingObjectId
 `
<TechnicalProfile Id="AAD-UserReadUsingObjectId">
          <Metadata>
            <Item Key="Operation">Read</Item>
            <Item Key="RaiseErrorIfClaimsPrincipalDoesNotExist">true</Item>
          </Metadata>
          <IncludeInSso>false</IncludeInSso>
          <InputClaims>
            <InputClaim ClaimTypeReferenceId="objectId" Required="true" />

[2018-08-21 17:11] monteledwards commented on #34
In your schema, i'm assuming you're setting your claim type data type to boolean? Try changing that to string and running the first snippit I sent. I tested against a string data type and it was working successfully.

[2018-08-21 18:05] LearnToCodeKM commented on #34
Changing my custom attribute to string worked.
Changing just the claim type did not help(it shows up error) , so added a new string custom attribute to and used it.
**Thanks for all the help and I really mean it.**

[2018-08-21 18:08] monteledwards commented on #34
@parakhj for the sake of the community, can you comment on the ability to run preconditions against boolean data type claims within the User Journey? It appears 'true' and 'false' are not recognized when checking values.

[2018-08-21 21:45] chrispadgettlivecom commented on #34
The possible values for a **boolean** claim are "True" and "False" (i.e. the string representation of `true` and `false`).

[2018-08-28 03:10] #34 closed

[2018-08-28 12:49] LearnToCodeKM opened #35 "Add restrictions to claim and make claim optional in custom policy"
I am trying to add collect user details using LocalAccountSignUpWithLogonName custom policy.I have added `        <OutputClaim ClaimTypeReferenceId="email" />`
to `LocalAccountSignUpWithLogonName`  as outputclaim. I want to make the email field optional, but if user enter the email I want to enable the restrictions.Below is my email claim
`<ClaimType Id="email">
    <DisplayName>Your Email Address

[2018-08-30 11:19] kubaizi commented on #23
but how can i localize it ?
i try
`<LocalizedString ElementType="UxElement" StringId="remember_me">blah blah</LocalizedString>`
but still give me :

everything else is working

[2018-08-30 11:29] kubaizi commented on #23
this is helpful thank you but how can I localize it?
I try
`<LocalizedString ElementType="UxElement" StringId="remember_me">Kqwqweqwen</LocalizedString>`
but still no luck while everything else is working fine

[2018-08-31 21:08] IyyappanAmirthalingam opened #36 "Azure B2C - Single Sign On for multiple C# WebForms (no mvc)"
Hi,
I am trying to find some samples for Azure B2C - Single Sign On for multiple C# WebForms 4.7.2 (no MVC).
Please refer me to the correct place.

Thanks a lot.

[2018-09-19 01:54] hxhieu commented on #36
Just add OWIN to your WebForms then follow the MVC example to configure the OWIN start up.

[https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-web-dotnet-susi#install-owin](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-web-dotnet-susi#install-owin)

Cheers,
H

[2018-09-21 17:18] IyyappanAmirthalingam commented on #36
Hi,
Thanks for your note.
I tried calling a MVC application from C# Web Forms and it doesn't work.
Please share any sample application.

Thanks.

[2018-09-28 12:35] CarolineVanDuin opened #37 "Microsoft updated their URLs"
You want to change the instructions at the home page and change the IssuerURL to:
https://contoso.b2clogin.com/contoso.onmicrosoft.com/SAMLRPPolicy
instead of
https://login.microsoftonline.com/te/contoso.onmicrosoft.com/SAMLRPPolicy

[2018-10-02 03:21] davidlevy-ecommbi opened #38 "SAML2 custom policies: The SAML initiating message with id '' cannot be found in state"
I have carefully followed the steps in these 2 tutorials to configure custom policies for SSO using SAML2, connecting AD B2C with a Java WebApp:

1. https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-get-started-custom
2. https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/blob/master/Walkthroughs/RP-SAML.md

When logging in, my Web App (SP) builds

[2018-10-02 03:35] fujie commented on #38
Do you mean your java web app(SP) redirect user to 'https://login.microsoftonline.com/te/MYTENANTID.onmicrosoft.com/B2C_1A_SignInSaml/samlp/sso/assertionconsumer' ? If so, check your web app configuration. The web app(SP) should be configured to redirect to SSO Service Url with authentication request and Azure AD B2C's SSO Service Url is this:
https://login.microsoftonline.com/te/TENANTID.onmicros

[2018-10-02 03:53] davidlevy-ecommbi commented on #38
The /login page is hit first with the SAMLRequest param. After that, I'm redirected to /assertionconsumer and see the error. Will update the issue description with this

[2018-11-01 09:27] mkonars opened #39 "OutputClaimsTransformation identityProvider DefaultValue ignored"
Hi,
I am using the following profile to authenticate against login.microsoft.com:

<ClaimsProvider>

	  <Domain>live.com</Domain>
	  <DisplayName>Microsoft Account</DisplayName>
	  <TechnicalProfiles>
		<TechnicalProfile Id="MicrosoftLive-OIDC">
		  <DisplayName>Microsoft Account</DisplayName>
		  <Protocol Name="OpenIdConnect" />
		  <Metadata>
			<Item Key="client_id">XXX</Item>
			<Item Key="Us

[2018-11-02 06:04] mkonars commented on #39
Hi, I didn't know that such attribute exists. Now googling it, I have found also the [documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/technicalprofiles) and there it states

So now it all makes sense. Thank you Chris.

[2018-11-02 06:04] #39 closed

[2018-12-19 21:04] madelson opened #41 "Having trouble following RP-SAML walkthrough"
Hello,

I've been trying to follow https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/blob/master/Walkthroughs/RP-SAML.md after having completed the instructions on https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-get-started-custom.

Having gone through it, I have yet to get things working. Here are some of the issues/discrepancies I've run int

[2019-01-10 10:55] JasSuri commented on #41
Hi

1) The prefixes are required (B2C_1A_xxxxxx).

2) That is ok

3) Also ok

4) “B2C_1A_signup_signin_saml” is fine, shouldn't be a GUID.

5) Yes update to match 4)

[2019-01-14 10:18] crAZiAc opened #42 "Support for Elliptic Curve (EC) key types"
When trying to connect Azure B2C with another IdP, using custom policies, we encounter the following error in AppInsights logging:

**Key type not supported: 'EC'.**
and it bails out with a FatalException

The IdP we're trying to connect to supports RSA and EC key types, and sends both of them in the JWKS endpoint.

B2C does not seem to handle the EC key type in the JWKS.

Could you please fix thi

[2019-01-25 09:36] fjferdiez opened #43 "Clarification for WeChat custom authentication"
Hello, I am setting wechat custom provider, up to now I have followed the documents of wechat available here:

[Wechat Docs on English](https://open.wechat.com/cgi-bin/newreadtemplate?t=overseas_open/docs/web/login/login#step1)

And Azure Docs:

[Define an OAuth2 Technical Profile](https://docs.microsoft.com/en-us/azure/active-directory-b2c/oauth2-technical-profile)

I also set up application insi

[2019-02-08 18:56] BrianLytle commented on #20
This project compiles, but won't run. There is an error in the startup.cs, but I can't figure out what it is.

[2019-02-10 13:46] umar-qureshi2 opened #44 "Unable to set `UserJourneyRecorderEndpoint` for use with journey recorder"
I am following the document from [Setup User Journey Recorder - B2C](https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/blob/master/UserJourneyRecorder/Integrating%20a%20B2C%20policy%20with%20Azure%20Application%20Insights.docx) which mentions to change `UserJourneyRecorderEndpoint` attribute as `https://<mycustomweb>.azurewebsites.net/stream?id=1a6bee1c-2d3f-4a95-a6a4-440a2c6

[2019-02-13 01:27] chrispadgettlivecom commented on #44
Hi @umar-qureshi2

The use of a HTTP endpoint for `UserJourneyRecorderEndpoint` has been deprecated.

You must use Application Insights for the user journey recording.

You can read more about this in [the **Azure Active Directory B2C: Collecting Logs** article](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-troubleshoot-custom).

[2019-02-13 05:58] umar-qureshi2 commented on #44
Hi @chrispadgettlivecom

Thank you for guidance. I have been using Application Insights but the trace messages get truncated at 32K character limit as mentioned in data model [`here`](https://docs.microsoft.com/en-us/azure/azure-monitor/app/data-model-trace-telemetry).

Do you know of any workaround to avoid this limit of 32k characters?
(This typically comes up when I set Development as true and

[2019-03-01 22:21] AlbertoDePena opened #45 "MFA - cache second authentication"
Is it possible to cache the requirement on phone verification? Perhaps a check box that only requires phone verification after 60 days? I believe Azure AD supports that feature....

[2019-03-05 06:11] izzulhaziq opened #46 "Serialize StringCollection claim in the cookie"
I have the following setup for my B2C custom policy:

[code]

Notice one of the persisted claim is of StringCollection `<PersistedClaim ClaimTypeReferenceId="groups" />` type. The original values are like:

`"groups": ["guid1", "guid2", "guid3", ...]`

All the claims are persisted fine in the session (cookie) except the groups claim. Instead of properly serializing/deserializing the values, on the

[2019-03-20 10:51] openfieldlive opened #47 "Upload - Object reference not set to an instance of an object"
Hi !

I'm working on Custom Policies for ADB2C.
Recently I've started to have some problems during the Upload of my policies.

Sometimes everything uploads fine and other times I just have an error and cannot upload it.
Here is the error : `##[error]An error has occurred.Validation failed: 1 validation error(s) found in policy "B2C_1A_COMMON_BASE" of tenant "XXXXX".Object reference not set to an i

[2019-03-25 20:49] mschahal opened #48 "Invalid client assertion"
After clicking on link received in email, I am getting this error:

The client assertion provided in the request is invalid: 'client_secret' was used as the verification key

[2019-03-26 14:35] #48 closed

[2019-04-23 09:21] canoas opened #49 "user journey that does not create duplicate accounts"
Is it possible to simply merge an account when the same email is already verified in an existing account?
How to reproduce:
1. signup/signin at https://wingtipgamesb2c.azurewebsites.net with local account (email1)
2. logoff
3. signup/signin with facebook (email1) - ISSUE: A new object is created here, IMHO it should offer to merge (link automatically)
4. logoff
5. signin with local (email1)
6. ID

[2019-05-01 14:50] iamkoch opened #50 "Account Linking example needs to be updated to use alternativeSecurityId"
I have had to refactor the account linking example to use, in all policies that reference them. the following:

- `identityProvider` in place of `issuer`
- `alternativeSecurityId` in place of `userIdentity`
- `alternativeSecurityIdCollection` in place of `userIdentityCollection`
- `alternativeSecurityIds` in place of `userIdentities`

Also, the transformations that relate to modifying and creating

[2019-05-01 14:51] iamkoch commented on #50
I've added these for others who have hit the same issues as me.

[2019-05-22 18:34] sirdank opened #51 "Custom policies getting mixed together"
I have two custom policies (six total files) that are very similar. They both allow signin through two of three ADFS servers I have set up. One server is shared by each policy and each policy also has its own server. For the unique ADFS servers, they each have a different technical profile policy1-SAML and policy2-SAML. For the shared server, each policy has its own technical profile but both tech

[2019-05-23 08:11] filipemiguelaugusto commented on #50
I've tried to make changes in sample files accordingly to your suggestions with no success. Is it possible to have further information about all the replacements that you must do?
Someone was able to put this example of account linking up and running recently?

[2019-05-23 08:17] iamkoch commented on #50
We have this working in a production system.

My concern is that no one from MS seems to have looked at or commented on this issue.

Which part is failing? Have you enabled development mode / logging to application insights to your policy? You can couple this with the wingtip journey player, which can be found on the net, to help figure out at what point your custom policy is failing

[2019-05-24 16:47] seantleonard commented on #50
@filipemiguelaugusto  looks like the docs reflect `AlternativeSecurityId`
https://docs.microsoft.com/en-us/azure/active-directory-b2c/social-transformations

However, this sample still needs to be updated.

[2019-05-27 14:31] filipemiguelaugusto commented on #50
@iamkoch my problems starts way back. It seems like i can't get the right transformations in the files to upload them without errors. I'm far from being an expert in this kind of customizations!

I get errors like this one for instance:
[...] The InputClaims mismatched in ClaimsTransformation with id "AppendUserIdentityToLink" with TransformationMethod "AddItemToUserIdentityCollection".
The follow

[2019-05-27 17:38] iamkoch commented on #50
Take the XML from my original post and include it in yours. It contains the replacement transformations used to manipulate alternative security id based claims

[2019-05-29 18:05] xinaxu commented on #50
@filipemiguelaugusto From the error message, it looks like you might be mixing UserIdentity claims transformation with AlternativeSecurityId DataType. If you can post an example of your policy, I can help you identity the issue.

[2019-05-29 18:07] xinaxu commented on #50
@iamkoch Sorry for late response. Both UserIdentities and AlternativeSecurityId solution should work. If UserIdentities do not, may I know where you find it outdated or not working so I may look into it? Thanks!

[2019-05-29 18:31] xinaxu commented on #49
It is indeed possible.
At step3, when you get the email address from Facebook, you can make an account discovery in AAD using that email address as username. If it exists, you can merge Facebook account into that existing AAD account. If not, create new AAD account.
Several caveats to be aware when you decide to go with this path
1. Not all users from Facebook provide their email address, when the

[2019-05-29 20:44] xinaxu commented on #51
This might be related to SSO which tries to select the claims exchange previously successfully logs you in.

[2019-05-30 09:24] iamkoch commented on #50
Hi @xinaxu

Below is the particular log from app insights. The line of interest is `"Unable to cast object of type 'Microsoft.Cpim.Data.UserIdentity' to type 'System.String'.",`

The documentation states that the transformations return JSON as a string, however, the user identity path seems to return an instance of a useridentity

[code]

[2019-05-30 14:41] filipemiguelaugusto commented on #50
@xinaxu plz find attached my policy file with some changes as suggested at this post.
[TRUSTFRAMEWORKBASE.xml.txt](https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/files/3237456/TRUSTFRAMEWORKBASE.xml.txt)

[2019-05-30 23:24] xinaxu commented on #50
@iamkoch Could you try adding below to the metadata of that technical profile. `<Item Key="api-version">1.6</Item>`
UserIdentity is only supported by 1.6 api version, which comes more consistent with what AAD graph has documented. If not using 1.6 api-version. Then AlternativeSecurityId should be used.

[2019-05-30 23:51] xinaxu commented on #50
@filipemiguelaugusto Looks like you have commented out `AddItemToUserIdentityCollection`. Your policy is mixing AlternativeSecurityId and UserIdentity, for example `CreateAlternativeSecurityId` is expecting claim type of data type `AlternativeSecurityId` but your `alternativeSecurityId` is of type `userIdentity`.
I would suggest renaming all your claim types, transformations to alternativeSecurity

[2019-05-30 23:51] seantleonard commented on #50
@xinaxu Adding that key worked for me. I added to both the AAD-Common and AAD-UserReadUsingObjectId technical profiles. For whatever reason, I had ApiVersion instead of api-version as the key. This should be updated in msft docs and I could find the places where that is the case

[2019-05-31 00:10] xinaxu commented on #50
@seantleonard I see your confusion. We will update the samples.

[2019-06-03 08:55] filipemiguelaugusto commented on #50
@xinaxu Adding that key worked for me also. I replaced it everywhere i had ApiVersion to api-version. Thanks for the help provided.

[2019-06-14 09:03] filipemiguelaugusto commented on #49
@xinaxu Is it possible to have an example how to accomplish the step in the policy to do the account discovery in AAD that you suggested?

[2019-06-14 18:43] xinaxu commented on #49
It can be achieved using Validation Technical Profiles and Preconditions. https://docs.microsoft.com/en-us/azure/active-directory-b2c/validation-technical-profile
You can have 3 validation technical profiles.
1. Get User from AAD using email address, and do not throw error if the user does not exist
2. Link Facebook account to that AAD user. This technical profile is only executed when the objectI

[2019-06-18 16:56] klogan12 opened #53 "B2C SAML response with incorrect entityID"
I have configured Azure B2C as my SAML provider using the steps mentioned here.

XML i got from here https://tenant-name.b2clogin.com/tenant-name.onmicrosoft.com/policy-name/Samlp/metadata have entity ID as below
https://login.microsoftonline.com/cvtrial.onmicrosoft.com/B2C_1A_signup_signinsaml

But when a user attempts login from SP , the SAML response contains different uri in entity field. one

[2019-06-20 05:09] soorajpayyoor commented on #53
You don't need to edit the IdP Metadata. Here's the step you can follow:

1. Override the issuerUri parameter of SAML Assertion TP in your RP Policy (I believe you have defined the SAML Assertion TP in the Base/EXT Policy. In your case, the RP policy is B2C_1A_signup_signinsaml) like below:
  <ClaimsProviders>
    <ClaimsProvider>
      <DisplayName>SAML Token Issuer</DisplayName>
      <Technical

[2019-06-20 16:01] klogan12 commented on #53
Got it , thanks for the response!

[2019-06-20 16:01] #53 closed

[2019-07-22 14:09] canoas commented on #49
We don't care if the user does not have a _verified_ email or is not showing the email in the consent, what we want is a fluid and intuitive user journey for 99% of the cases. As I explained with the documented wingtipgamesb2c example, the current demo policies are not implemented as a good reference and whoever did this docs/examples could fix this with the suggested pre-condition. At least not c

[2019-07-23 19:14] millicandavid opened #55 "Validation errors do not communicate reason for failed validation"

[2019-08-07 17:29] felickz commented on #29
Ever get this working or find a public sample with UserName instead of Email?  Have same concern - dont want email to be unique (store in othermails).  Would be nice it was as simple as [clicking this dropdown](https://medium.com/@swkrish/usernames-in-azure-ad-b2c-10493bfd5eb)!

[2019-08-21 15:15] mikemagnusw commented on #44
How silly. Perhaps un-deprecate it? It's surely not a technological hurdle to fire the same payload at an arbitrary HTTP endpoint. Or send AI telemetry in a more granular, sensible fashion?
Without an answer to the (enormous) event body being truncated, this is posing a significant issue and resource drain when trying to adjust and debug custom policies.

[2019-09-17 18:58] TiagoBrenck commented on #8
@parakhj is the multi-tenant scenario still not available in B2C?

[2019-10-03 10:53] srashtisj commented on #14
I faced the same issue with outlook desktop client - I shorten the shared URL, it worked fine after that.

[2019-10-17 06:24] jpalo commented on #46
Any comments on this?

[2019-10-30 04:16] iballack opened #58 "Clarification on claim transformation method"
I saw CreateAlternativeSecurityId as claim transformation method in the official guideline.
But in the code, I saw CreateUserIdentity.

May I know which one shall I use instead?

[2019-12-10 08:52] sanjaybhagia commented on #44
This is really painful during development. First that truncation issue and secondly even in development mode App Insights take ages (at times) to show the data. It would be really nice to allow the possibility to setup your own telemetry service (any https endpoint from where one can setup serilog/logstash etc) to speedup the development process. Current solution is a real productivity killer and

[2020-01-07 04:28] 1993Saurabh opened #65 "Is there any method to get MAC address of the user's system using custom policies?"
Hi,

I want to uniquely identify the user's machine other than IP addresses and want to store it into the claims as well. Is there any method to get MAC address of the user's machine using the custom policies flow or is there any other way to uniquely identify the user's machine. The reason behind why I don't want to go with the IP address is that this approach cannot uniquely identify the user's

[2020-01-28 02:32] xinaxu commented on #65
This is technically not possible. MAC address is useful only in link layer and gets lost over the internet after hopping over multiple routers.
Alternatively, you can rely on the cookie sent from your web application to identify unique browser sessions.

[2020-01-28 02:36] xinaxu commented on #58
We are using CreateUserIdentity inside account linking policies but CreateAlternativeSecurityId also works. However, they are not interchangeable and does not work if mixed. Hence CreateAlternativeSecurityId is more preferable given it is used in more scenarios.

[2020-01-28 02:39] xinaxu commented on #55
That is the exact response returned from AAD Graph API. We don't yet log the request sent to Graph so we don't know which property has invalid value. But we are planning to enhance the debugability and logging experience so this kind of issue will be easier to troubleshoot in the future.

[2020-01-28 19:14] katie199 commented on #46
Is there any update on this? We have the same issue.

[2020-01-28 23:46] izzulhaziq commented on #46
We haven't been able to solve this as well, but we work around it by hooking up to azure function to serialize/deserialize in our b2c user journey. Not ideal, but that's the best one rather than having to go back to AAD for every token request, which were the original issue we had.

[2020-01-30 18:25] katie199 commented on #46
@izzulhaziq would it be possible for you to share the userjourney you used? I have been struggling with figuring out which journey is called when the user is reauthenticating and not logging in again. If you could, that would be awesome!!

[2020-02-06 08:08] yoelhor commented on #46
Until this issue is fixed, as a temporary solution, you can use [StringJoin](https://learn.microsoft.com/en-us/azure/active-directory-b2c/string-transformations#stringjoin) and [StringSplit](https://learn.microsoft.com/en-us/azure/active-directory-b2c/string-transformations#stringsplit) claims transformations to serialise/deserialise the **string collection** to another **string** claim type.

[2020-02-07 14:47] katie199 commented on #46
Only the first claim is output when there are multiple claims with the same PartnerClaimType. We tried splitting the string collection into multiple role claims but only the first role claim was output and the others were not.

We are using RoleClaimType = ClaimTypes.Role in our Startup.Auth so they claim must come over with the specific partner claim type in order to work correctly. If you output

[2020-02-25 17:17] felickz commented on #42
Any workaround to clear error?

https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/38510968-aad-b2c-add-support-for-ec-key-type-to-openid-con

[2020-03-04 12:27] 1993Saurabh opened #66 "Can I use two email addresses for MFA using custom policies?"
I would just like to know, can we use two email addresses for Multi-factor authentication in custom policies just like two phone numbers. Is it possible to do that?

Any help would be appreciated in this regard.

[2020-03-04 18:08] xinaxu commented on #66
Are the verification of those email addresses on the same page or different pages?
If on the same page, should both pass verification or either one is fine?

[2020-03-04 19:42] CodyMorris commented on #46
Update on this please?

[2020-03-05 04:50] 1993Saurabh commented on #66
Hi @xinaxu,
Verification of those email addresses should be on different pages but if it is not possible then on the same page would also work and if on the same page then should both pass verification.

[2020-03-05 18:05] xinaxu commented on #66
If on different pages,
The traditional way is to add an email output claim in self-asserted technical profiles, i.e.
<OutputClaim ClaimTypeReferenceId="email1" PartnerClaimType="Verified.Email" Required="true" />

You can have several self-asserted technical profiles for different pages and you can use different email claim type for different emails to collect.

From: Saurabh Srivastava <notificat

[2020-03-06 04:53] 1993Saurabh commented on #66
Hi @xinaxu Any sample would be really helpful. If possible could you please provide one.

[2020-03-06 07:49] Wessie1991 commented on #46
i think its solved on the 6 march

[2020-03-27 10:44] MichielCornilleESC commented on #49
@canoas  did you eventually manage to get this working? It was the first question from the business "Why are there duplicates created" on a new project I'm working on.

[2020-05-08 10:45] MichielCornilleESC opened #67 "Account-linking allows unlinking facebook which causes account-lockout."
`<OrchestrationStep Order="6" Type="ClaimsExchange">
          <ClaimsExchanges>
            <ClaimsExchange Id="LinkFacebookExchange" TechnicalProfileReferenceId="Facebook-OAUTH-Link" />
            <ClaimsExchange Id="UnlinkFacebookExchange" TechnicalProfileReferenceId="Facebook-OAUTH-Unlink" />
          </ClaimsExchanges>
        </OrchestrationStep>`

**Scenario:**
- sign up using facebook
-

[2020-06-05 15:43] ssahon opened #68 "saml custom policy logout url"
Hello I'm trying to integrate zendesk and azure b2c using custom policies with SAML flow

So I followed documentation described here https://docs.microsoft.com/en-us/azure/active-directory-b2c/connect-with-saml-service-providers

I modified NameId to use email. So login works fine and I can reach zendesk SP.
The only issue left that I cannot find documentation how to configure logout url on servic

[2020-06-11 19:37] CodyMorris commented on #46
@izzulhaziq  are you still experiencing this issue?  about to take a second stab at solving it for my implementation.

[2020-06-15 14:02] athulya-ratheesh opened #69 "How to create users with same email but with different in custom user attribute in Azure AD B2C?"
I have to create multiple users in **Azure AD B2C** which only differs in a custom user claim.

Eg : I have an email **'test@gmail.com'** and also I have created a custom user attribute called as **'Project'** and then added this attribute in SignIn/SignUp user flow. What I need is

**1)** To register the given email with differs in Project. ie;
**User 1** email : 'test@gmail.com', project : 'Proj

[2020-07-07 10:00] izzulhaziq commented on #46
@CodyMorris As mentioned in one of my replies, we ended up having Azure Function (basically calling a rest api) just to help with serializing and deserializing.

[2020-10-01 09:42] athulya-ratheesh opened #70 "How to check whether a user is exist in firebase before sending reset email?"
I am using Firebase authentication in my React Native application development. The problem I am facing is On implementing reset password functionality users receiving emails even though they are not a registered user in Firebase.

**1)** How can I send reset password emails only for Firebase registered users ?

**2)** How can I achieve this from frontend side(React Native) ?

Here is the code I am

[2020-10-01 20:09] Mortana89 commented on #69
Hi @athulya-ratheesh ,

I see you closed this issue. We're actually investigating the same, using B2C as a multi-tenant user store, so An email-address could be used in multiple tenants, but should have a different password (they are really different accounts, just same email).

How did you approach this?

[2020-10-08 16:01] athulya-ratheesh commented on #69
Hi @Mortana89,

We planned like, Sign up of users will be from a common admin page. But the user login will be from different login pages for each project.

Based on the example I have mentioned in the above issue

- **project1** will have a dedicated login page like **'login/proj1'** and **project 2** will have **'login/proj2'**.
- Based on the login page they need to be treated as different user

[2020-10-14 06:09] Mortana89 commented on #69
I had a chat with Microsoft engineers about this issue and they learned me that, unless you go really deep in B2C, hacking away, it's better to use something like IdentityServer for multi-tenant authentication as this czn be freely customized... Just Passing the info

[2020-10-18 16:39] athulya-ratheesh commented on #69
@Mortana89 Sounds good. We are going with other options. Thank you.

[2020-10-18 16:40] #69 closed

[2020-10-23 05:54] athulya-ratheesh opened #71 "Angular8/Vue custom component not loading in google sites in chrome browser"
I have created an angular 8 custom component for pages in my Google site website. I have included the component as an embedded code in google sites.

Initially it was loading correctly in google sites but most recently the pages are not correctly rendering in chrome. We didn't change any configurations but it seems to be not working for both Vue and angular components. When trying with other brows

[2020-10-23 05:56] athulya-ratheesh commented on #70
I have solved this issue using **fetchSignInMethodsForEmail** to check if an email address is known for any provider before trying to send a reset message to it.

[2020-10-23 05:56] #70 closed

[2020-11-16 19:30] heatherjoanne44 opened #72 "Can we link both email and username for the local identities"
Hello,

I am trying to create a custom policy for  setting both username and email when creating a new account to be used as part of the user's identity so they can sign in with either one. I was looking at the account-linking policy you have. Is this scenario possible via custom policy or must it be done via an api call via Microsoft Graph?

[2020-11-16 19:37] xinaxu commented on #72
This is possible. In your AAD technical profile (https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-technical-profile), specify both signInNames.emailAddress and signInNames.userName when link another local account type. They will be combined and the user will be patched with a new signInNames collection.

From: heatherjoanne44 <notifications@github.com>
Sent: Monday, Nov

[2020-11-16 22:13] heatherjoanne44 commented on #72
Thank you so much. I actually tried that way earlier and I was getting errors or it would just hang, but I just changed it back again so I could tell you the exact error, and now it is working. I must have changed something in the midst of testing other things that caused it to now work properly. Thanks again for you assistance! 
    On Monday, November 16, 2020, 01:37:16 PM CST, Xinan Xu <notific

[2021-01-21 18:01] heatherjoanne44 opened #73 "Updated Source Code for WingTipGamesWebApplication"
Is there updated source code for the wingtipwebapplication? Also, are there instructions for getting this all configured? Im interested specifically in the invitation policy

[2021-01-22 21:20] soorajpayyoor commented on #73
Hi,

If you are looking for Invitation flow for IEF, please check https://github.com/azure-ad-b2c/samples/tree/master/policies/invite

Regards

Sooraj
From Outlook<https://aka.ms/qtex0l> for iOS
________________________________
From: heatherjoanne44 <notifications@github.com>
Sent: Friday, January 22, 2021 7:01:38 AM
To: Azure-Samples/active-directory-b2c-advanced-policies <active-directory-b2c-ad

[2021-03-25 18:26] sathishTkumar opened #74 "Azure AD B2C Password reset is not working"
After resetting the user password, b2c login page is not redirecting to the change password screen. It was working earlier.

Steps to reproduce:
1. reset the user's password via azure portal
2. login using the temporary password
3.  login screen showing "Your password has expired." error message instead of redirecting to "Update expired password page"
![image](https://user-images.githubusercontent

[2021-04-06 19:04] nataliahering opened #76 "Connect existing user with external idp"
I can see that if user <username>@gmail.com has signed up with local sign up, one user will be created in B2C. If then this user signs up with eg. Gmail another user will be created. Same vice versa.

How cun I run a custom policy, after the user has entered his email(in case of local sign up) or after google has returned the token(in case of social sign up), see if a user already exists with that

[2021-04-19 08:10] anweshars commented on #29
hey - could you get this working?

[2021-11-01 02:47] WhippsP commented on #47
I am aware that this is an old issue however it has arisen for other clients also. The actual issue above is that the "IgnoreServerCertificateErrors" metadata item is set to true on a restful provider and the policy does not have a deploymentmode of "development". As this is also not a currently documented metadata item (https://docs.microsoft.com/en-gb/azure/active-directory-b2c/restful-technical

[2022-01-04 10:28] cyrilmatthew26 opened #83 "Append input Claim value to createstringclaim transformation InputParameter value"
Is it possible to add a input Claim value email to a input parameter value which contains a localized string id
https://docs.microsoft.com/en-us/azure/active-directory-b2c/string-transformations#createstringclaim

Code I'm trying which doesn;t work.
The "SendPasswordResetLink" is part of the LocalizedCollection which contains a string value. I want to attach the "email" claim value at the end. (I'

[2022-01-27 12:23] cranarma commented on #51
Any update on this? I'm still experiencing the same issue when combining a HRD policy with an embedded password reset one.
I've tried renaming TechnicalProfile ids to there won't be name collisions, moving the order of OrchestrationSteps as suggested on https://stackoverflow.com/a/67890379 but nothing seems to make it work.

[2022-07-01 09:30] mk4953 commented on #69
@Mortana89  I have the same issue..I will create a **B2C user with one email and more usernames under this mail**. The issue is i cannot specify or give different passwords to the users that created under this e-mail. All must sign in with the same password, that is not desirable.
My case is:
User => Alex has 3 different accounts on the same webapp. But he has to use 3 different Username because o